SHOPIFY_API_KEY="your_api_key_here"
SHOPIFY_API_SECRET="your_api_secret_here"
SHOPIFY_APP_URL="https://your-app-url.ngrok-free.app"
SCOPES="write_products,write_discounts,read_products,read_customers,read_orders,write_script_tags,read_script_tags"
DATABASE_URL="file:./prisma/dev.db"
